/* font-family: 'Roboto', sans-serif;
font-family: 'Righteous', cursive; */
.jumbotron {
  background-image: url(imgs/mass-effect-andromeda_gdp-bg.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.jumbotron h1,
p {
  color: white;
}

.container-fluid {
  background-color: rgb(41, 41, 41);
  height: 100vh;
}

h1,
h2,
h5 {
  font-family: "Righteous", cursive;
}

p {
  font-family: "Roboto", sans-serif;
}

.card-body p {
  color: black;
}

footer {
  background-color: rgb(41, 41, 41);
  height: 100%;
  text-align: center;
}

footer h2 {
  color: white;
}
